

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto+Mono:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quicksand:wght@600&family=Roboto+Mono:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nanum+Pen+Script&family=Poor+Story&family=Quicksand:wght@600&family=Roboto+Mono:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nanum+Gothic+Coding&family=Nanum+Pen+Script&family=Poor+Story&family=Quicksand:wght@600&family=Roboto+Mono:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}


#clock{
    font-size: 150px;
    text-align: center;
    margin-top:0px;
    margin-bottom: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-shadow: 5px 3px 7px #000000;
    /*-webkit-text-stroke: 1px #000000;*/
    color: white; 
    opacity:0.7;/*투명도 조절*/ 
}

.login-greeting{
    /*text-align: center;*/
    /*display: inline-block;*/
    display: flex;
    margin-top:30px;
    justify-content: center; /*justify-content: center;는 요소를 수평 방향 가운데로 정렬*/
    align-items: center;
}

#greeting{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    color:#f7f7f7;
    text-shadow: 5px 3px 7px #000000;
    opacity:0.7;
    /* opacity:0.6;
    background-color: black;
    color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 7px black ; */

    
}
#memo{
    display: flex;
    justify-content: center; /*justify-content: center;는 요소를 수평 방향 가운데로 정렬*/
    align-items: center; 
    width: 100%; /*부모요소 대비하여 width, height 값*/
    position: absolute;
    overflow: hidden;
    top:0px;
    bottom: 80%; /*바닥으로부터 n%*/

    margin: 0;
    padding: 0;

    transform-origin: left center;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}


#memo button{
    position:absolute;
    top:40%;
    left:62%;
    color: rgb(147, 22, 22);
    opacity: 0.3;
}

/* #memo button:first-child{
    left:60%;
} button:first-child 선택자는 <button> 요소 중에서 그 부모 요소 내에서 첫 번째 자식으로 있는 <button> 요소를 선택, button이 #memo의 firstchild가 아니면 이거 적용안됨 */ 

#memo button:last-child{
    left:calc(63% + 3px);
    color: rgb(67, 66, 66);
}

#memo textarea{
    position: absolute;
    bottom:0%;
    margin-top: 0;
    width: 30%;
    height:43%; 

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    /* 사용자 정의 스타일 적용 */
    color: black;
    background-color: white(170, 166, 166);
    opacity: 0.3;
    border: none;
    border-radius: 15px;

    font-family: 'Poor Story', cursive;
    font-size: 20px;
    font-weight: bold;

    outline:none;

    transform: rotateY(-20deg);
    
}

/*memo패드 등장할때 애니메이션 효과 할거야*/
@keyframes memoOn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes memoOff {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
}


#memo textarea.show {
    animation: memoOn 0.5s ease-in-out;
}

#memo textarea.hide{
    animation: memoOff 0.5s ease-in-out;
}


#memo textarea.active{
    box-shadow: 10px -10px 7px rgb(84, 83, 83) ;
    opacity:0.6;
}

#savememo{
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    color: rgb(93, 93, 93);
    font-weight: bold;
}

#memo button.active{
    opacity:0.8;
}

#contents{
    position: absolute;
    top:23%;
    width: 100%;
    height: 50%;
}

#quote{
    display: flex;
    justify-content: center; /*justify-content: center;는 요소를 수평 방향 가운데로 정렬*/
    align-items: center;    
}


#quote button{
    margin-top:0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    color: black;   
    text-shadow: 5px 3px 7px white;
    opacity:0.7;
    border-radius: 10px;
}

#todo-form{
    display: flex;
    margin-top:30px;
    justify-content: center; /*justify-content: center;는 요소를 수평 방향 가운데로 정렬*/
    align-items: center;

}

#todo-form input{
    /*opacity:0.6;
    /*background-color: black;*/
    font-size: 23px;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgb(89, 88, 88) ;
}

input[type="text"] {
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 테두리 제거 */
    background: none; /* 배경 제거 */
    font-family: 'Quicksand', sans-serif; 
    font-size: inherit; /* 기본 글꼴 크기 유지 */
    color: #000; /* 텍스트 색상 설정 */
  }
  
  /* placeholder 텍스트 스타일 변경 */
::placeholder {
    color: white; /* placeholder 텍스트 색상 설정 */
    opacity: 0.6; /* 투명도 설정 */
    font-family: 'Quicksand', sans-serif; 
    font-size: 25px;
}

#todo-list{
    margin-top:30px;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Nanum Gothic Coding', monospace;*/
    font-size: 25px;
}

/*
appearance: none>> 버튼의 브라우저 기본 스타일 삭제
background-color: transparent >> 배경색 투명;
    border: none >> 버튼 테두리 없앰;
    padding: 0 >> 안쪽여백 설정;
    margin: 0;
    cursor: pointer >> cursor 스타일 ;
    */

button {
    appearance: none; 
    background-color: transparent;
    border: none;
    padding:5px;
    cursor: pointer;
    font-size: 17px;
  }

.login-greeting button{
    font-size: 21px;
    font-weight: bold;
    color: rgb(20, 170, 20);
    padding:10px;
    opacity:0.7;
    
}
